@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}


    <div class="mt-5 pt-5 text-center">
        <h1 class="text-danger mt-5 pt-3">@ViewData["Title"]</h1>
        <p class="text-danger">You do not have access to this resource.</p>
        <img src="~/img/denied.svg" class="col-9 col-md-6" alt="Alternate Text" />
    </div>

