<br>
<span id="start" style="outline: 0px; font-size: medium;" class="d-flex keyword badge mt-2 pt-2 pb-2 badge-pill badge-secondary mr-2">
    Add Keywords
    </span>
<img src="~/img/plus.svg" id="zoom" width="15" alt="plus image">
<input id="keywords" type="text" name="keywords" value="" hidden />