<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <span class="h4 font-weight-bold bg-primary text-light text-center d-block p-1 mb-4">Basics</span>
    <p class="text-justify">
        The course is described with <a class="font-weight-bold" href="#">title</a>, <a class="font-weight-bold" href="#">title description</a>, <a class="font-weight-bold" href="#">category and subcategory</a>, <a class="font-weight-bold" href="#">full description</a>, <a class="font-weight-bold" href="#">image</a> and <a class="font-weight-bold" href="#">keywords</a>.                                                                                                                                                                                                                                                                                                                          
        <br />
        The course is composed of several sections (<b>min. 5, max. 10</b>). Each section has a title and contains minimum one content.
    </p>
</body>
</html>